/*---animaciones---*/

@keyframes animationIn{
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

/*-----------------*/

html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    height: 100%;
}

main{
    height: calc(100% - 2em);
}

.customLink{
    cursor: pointer;
}

.navegacion{
    padding: 1em;
}

.bg-pincipal{
    background: linear-gradient(0deg, rgba(0,6,38,1) 0%, rgba(39,95,162,1) 100%);
}

.titleLogo{
    font-size: 28px;
}

.navWhite{
    color: rgb(85, 178, 255)
}

.navWhite:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(5, 80, 141);
}

.bg-main{
  background-color: rgb(20, 41, 58);
}

.bg-principal{
    background: linear-gradient(0deg, rgba(0,6,38,1) 0%, rgba(39,95,162,1) 100%);
}

footer{
    height: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
}

/*-----carta----------*/

.cartaClima{
    color: white;
    width: 0px;
    border: 1px solid grey;
    padding: 1em
}

.title{
    border-bottom: 1px solid white;
}

.infoCiudad ul{
    list-style: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.infoCiudad ul li{
    border-bottom: 1px solid rgb(92, 92, 92);
    padding: 8px;
}

.modal{
    font-family: Arial, Helvetica, sans-serif;
}

.title2{
    font-size: 28px;
}